<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false"> 

	<!--
		Este archivo define la configuración del logueo de la aplicación y es interpretado por logback,
		que recibe las llamadas de logueo del resto de las apis (log4j, commons-logging, etc) a través
		de slf4j que hace de wrapper del resto.
		La sintaxis para los appenders que se pueden agregar está en: http://logback.qos.ch/manual/appenders.html
		y la sintaxis para los patrones de formateo en: http://logback.qos.ch/manual/layouts.html#conversionWord 
	 -->

	<!-- Output normal por consola -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		  <pattern>\(%12r\) [%-20t] %-5p %-120m  | at %C\(%F:%L\) [%-23d{ISO8601}]%n</pattern>
		</encoder>
	</appender>
  
	<logger name="ar.com.dgarcia.javaspec" level="DEBUG" />
	
	<root level="info">
	  <appender-ref ref="STDOUT" />
	</root>
  
</configuration>